# Prevents by default all dependency versions more recent than 7 days
# from being installed.
# If necessary (e.g. to install an urgent security fix), you can override
# this using `pnpm install <package>@<version> --min-release-age=0`
min-release-age=7
